body{
	margin: 0;
	padding: 0;
	background-color: white;
	background-image: url("./img/backgroundimage.jpg");
	font-family: arial;
	overflow: visible;
}
header{
     width:100%;
	 min-height: 30px;
     border-bottom: 3px solid black;
	 padding-top: 5px;
	 background-color: #ccd9ff;
	 text-align: center;
 }
 nav ul{
	display: inline;
}
nav ul li{
	background-color: #ccd9ff;
	list-style-type: none;
	padding: 5px;
	display: inline-block;
}
nav ul li a{
	color: black;
}
p ul{
	margin-top: 0px;
	width: 90%;
}
.container1{
    border:1px solid black;
	background-color: #ebf0fa;
    width: 15%;
	margin: 2%;
	float: left;
	overflow: hidden;
}
img.pic{
	width: 80%;
	margin: 10% 10%;
	border: 2px solid black;
}
.format-paragraph{
	width: 90%;
	text-align: left;
	margin-left: 5%;
}
.container2{
	width:50%;
	background-color: #ebf0fa;
	border:1px solid black;
	padding: 0;
	overflow: hidden;
	margin-top: 2%;
}
.container2 h1{
	font-size: 80px;
	margin: auto;
	text-align: center;
}
.container2 ul{
	padding: 0px;
	width: 90%;
	margin-left: 5%;
	list-style-type: none;
	font-size: 25px;
}
.container2 ul p{
	font-size: 15px;
}
.container2 a{
	color: black;
}
.boxes{
	width: 100%;
	position: fixed;
	bottom:0;
	text-align: center;
	background-color: #ffff1a;
	border-top: 3px solid black;
	overflow: hidden;
}
.boxes h1{
	font-size: 15px;
	margin: 0;
}
.boxes img{
	width: 3%;
	padding: 15px;
}
