*{
	margin: 0;
	padding: 0;
}
body{
	height: 100%;
	font-family: arial;
}
header{
     width:100%;
	 min-height: 30px;
     border-bottom: 3px solid black;
	 padding-top: 5px;
	 background-color: #ccd9ff;
	 text-align: center;
 }
 nav ul{
	display: inline;
}
nav ul li{
	background-color: #ccd9ff;
	list-style-type: none;
	padding: 5px;
	display: inline-block;
}
nav ul li a{
	color: black;
}
p ul{
	margin-top: 0px;
	width: 90%;
	
}
.content{
	height: 100%;
	padding: 100px;
	
}
img.pic{
	width: 15%;
	padding: 10px;
	margin-right: 5%;
	float: left;
	border: 2px solid black;
	background-color: #ebf0fa;
}
.container{
	width:50%;
	background-color: #d9b38c;
	border:2px solid black;
	overflow: hidden;
	margin-bottom: 5%;
}
.container h1{
	font-size: 80px;
	text-align: center;
	margin:0 px;
	border:1px solid black;
	background-color: #26004d;
	color: white;
}
.container p{
	padding: 20px;
}
.container ul{
	margin-left: 5%;
	padding: 20px;
	line-height: 25px;
}
.container a{
	color: black;
}
footer{
	width: 100%;
	position: fixed;
	bottom: 0;
	text-align: center;
	background-color: #ffff1a;
	border-top: 3px solid black;
}
footer h1{
	float: left;
	font-size: 15px;
	margin: 0;
}
footer img{
	float: left;
	width: 2%;
	padding: 0px;
	margin: 15px;
	border: 1px solid black;
}
footer ul{
		display: inline;
}
footer ul li{
	background-color: #ffff1a;
	list-style-type: none;
	padding: 5px;
	display: inline-block;
}
footer ul li a{
	color: blue;
	font-weight: bold;
}
.contact{
	margin-top: 3%;
	float: right;
	text-align: left;
}

