body{
	padding: 0;
	margin: 0;
}
.first{
     width:100%;
	 height: 40px;
     border:1px solid black;
	 background-color: #e6f2ff;
	 margin: 0;
 }
 nav ul{
	margin: 0;
	display: inline;
	position: relative;
}
nav ul li{
	background-color: #e6f2ff;
	list-style-type: none;
	padding: 10px;
	display: inline-block;
	float: left;
}
nav ul li a{
	color: black;
}
p ul{
	margin-top: 0px;
}
.second{
    border:1px dashed black;
	background-color: #c68c53;
    width:300px;
    height:600px;
	position: relative;
	margin-top: 2%;
	margin-left: 2%;
}
img.small {
	width: 80%;
	height: 45%;
	border: 10px solid black;
	margin: 5% 5% 5% 5%;
}
.format{
	width: 90%;
	text-align: left;
	margin-left: 5%;
}
.third{
	border:1px dashed black;
	width:60%;
	height:65%;
	position: relative;
	left: 400px;
	background-color: #8c8c8c;
	color: white;
	padding: 30px;
}
.third h1{
	font-size: 80px;
	margin-left: 20px;
}
.third ul{
	padding: 50px;
	list-style-type: none;
	font-size: 25px;
}
.third ul p{
	font-size: 15px;
}
.third a{
	color: black;
}

