body{
	padding: 0;
	margin: 0;
}
.first{
     width:100%;
	 height: 4%;
     position:absolute;
     border:1px solid black;
	 background-color: #e6f2ff;
	 margin: 0;
 }
 nav ul{
	margin: 0;
	display: inline;
}
nav ul li{
	background-color: #e6f2ff;
	list-style-type: none;
	padding: 10px;
	display: inline-block;
	float: left;
}
nav ul li a{
	color: black;
}
p ul{
	margin-top: 0px;
}
.second{
    border:1px dashed black;
	background-color: #c68c53;
    width:18%;
    height:65%;
	position: absolute;
    top: 7%;
	margin-left: 2%;
}
img.first {
	width: 80%;
	height: 45%;
	border: 10px solid black;
	margin: 5% 5% 5% 5%;
}
.format{
	width: 90%;
	text-align: left;
	margin-left: 5%;
}

.third{
	border:1px dashed black;
	width:60%;
	height:65%;
	top: 7%;
	margin-left: 25%;
	position: absolute;
	background-color: #8c8c8c;
	color: white;
	padding: 30px;
}
.third h1{
	font-size: 80px;
	margin-left: 20px;
}
.third ul{
	padding: 50px;
	list-style-type: none;
	font-size: 25px;
}
.third ul p{
	font-size: 15px;
}
.third a{
	color: black;
}

