body{
	background-color: #e6e6e6;
	font-family: arial;
	margin: 0;
	padding: 0;
}
.container{
	background-color: white;
	border: 3px solid black;
}
.one{
	width: 20%;
	background-color: #ffb3b3;
	padding: 20px;
	border: 3px solid black;
	margin: 1%;
}
.container p{
	font-style: italic; 
}
img.smallml{
	width: 20%;
	height: 45%;
	margin: -11% 0% 0% 30%;
}
img.smallml2{
		width: 20%;
	height: 45%;
	margin: -13% 0% 0% 60%;
}
.container2{
	background-color: white;
	border: 3px solid black;
	height: 300px;
}